.<div class="nested-fields flex items-center space-x-4 mb-2">
  <%= f.file_field :photo, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-300" %>
  <%= f.check_box :_destroy %>
  <label class="text-sm text-red-500">Удалить</label>
</div>
