<div class="p-2 bg-white dark:bg-gray-800 shadow-md rounded-lg border border-gray-200 dark:border-gray-700 mt-6">
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Вспомогательная информация</h3>
  <%= form.fields_for :information do |f| %>
    <%= render Ui::InputFieldComponent.new(
      form: f,
      field_name: :document,
      label: "Документы и лицензии",
      type: "text_area"
    ) %>
    <%= render Ui::InputFieldComponent.new(
      form: f,
      field_name: :description,
      label: "Дополнительная информация",
      type: "text_area"
    ) %>
    <%= render Ui::InputFieldComponent.new(
      form: f,
      field_name: :calendar,
      label: "Календарь",
      type: "text_area"
    ) %>
   
  <% end %>
</div>
