<div id="FAQs" class="max-w-6xl mt-4 mb-6 mx-auto space-y-16 px-6 py-16 bg-gray-200 2xl:px-0  dark:bg-gray-800 rounded-[80px]">
  <h1 class="text-5xl font-bold text-center text-gray-900 dark:text-white">
    Ответы на популярные вопросы
  </h1>

  <div class="space-y-2">
    <details class="group bg-gray-200 dark:bg-gray-800 p-6 border-t border-gray-300 dark:border-gray-700 [&_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-3">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">
          Какую цель преследует платформа?
        </h2>
        <span class="shrink-0 rounded-full  p-1.5 text-gray-900 dark:text-white sm:p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-open:rotate-45" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </span>
      </summary>
      <p class="mt-4 leading-relaxed text-gray-800 dark:text-gray-300">
        Мы создаем многофункциональную платформу для поиска площадок, персонала и услуг, связанных с организацией мероприятий. Наша цель — объединить все сферы, 
        связанные с праздниками, отдыхом и вечеринками, на одной платформе и упростить процесс подготовки мероприятий.
      </p>
    </details>

    <details class="group bg-gray-200 dark:bg-gray-800 p-6 border-t border-gray-300 dark:border-gray-700 [&_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-3">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">
          Как забронировать место для проведения мероприятия?
        </h2>
        <span class="shrink-0 rounded-full  p-1.5 text-gray-900 dark:text-white sm:p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-open:rotate-45" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </span>
      </summary>
      <p class="mt-4 leading-relaxed text-gray-800 dark:text-gray-300">
        Чтобы забронировать площадку, вам необходимо связаться с арендодателем и договориться о свободных датах и условиях аренды. Вы можете сделать это 
        через любой удобный мессенджер, по телефону или электронной почте.
      </p>
    </details>

    <details class="group bg-gray-200 dark:bg-gray-800 p-6 border-t border-gray-300 dark:border-gray-700 [&_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-3">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">
          Где найти площадки?
        </h2>
        <span class="shrink-0 rounded-full  p-1.5 text-gray-900 dark:text-white sm:p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-open:rotate-45" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </span>
      </summary>
      <p class="mt-4 leading-relaxed text-gray-800 dark:text-gray-300">
        Площадки можно найти через нашу платформу. Мы предлагаем широкий выбор вариантов для любых мероприятий — от праздников до деловых встреч. 
        Просто выберите подходящие фильтры, чтобы найти площадку, которая соответствует вашим требованиям.
      </p>
    </details>

    <details class="group bg-gray-200 dark:bg-gray-800 p-6 border-t border-gray-300 dark:border-gray-700 [&_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-3">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">
          Как зарегистрироваться?
        </h2>
        <span class="shrink-0 rounded-full  p-1.5 text-gray-900 dark:text-white sm:p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-open:rotate-45" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </span>
      </summary>
      <p class="mt-4 leading-relaxed text-gray-800 dark:text-gray-300">
        Для регистрации на платформе, перейдите на страницу регистрации и заполните необходимые данные. Мы гарантируем безопасность ваших данных и предложим
         простой процесс регистрации.
      </p>
    </details>

    <details class="group bg-gray-200 dark:bg-gray-800 p-6 border-t border-gray-300 dark:border-gray-700 [&_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-3">
        <h2 class="text-lg font-medium text-gray-900 dark:text-white">
          Какие преимущества дает использование платформы?
        </h2>
        <span class="shrink-0 rounded-full  p-1.5 text-gray-900 dark:text-white sm:p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-open:rotate-45" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </span>
      </summary>
      <p class="mt-4 leading-relaxed text-gray-800 dark:text-gray-300">
        Использование нашей платформы даёт вам доступ к большому выбору площадок и услуг, упрощает организацию мероприятий и позволяет находить нужные решения в одном месте. 
        Также мы создаем активное сообщество пользователей, что делает платформу удобным и безопасным местом для взаимодействия.
      </p>
    </details>
  </div>
</div>
