<section id="possibilities" class="mb-[70px]">
	<div class="pt-16">
		<div class="mx-auto px-6 max-w-6xl">

			<div class="text-center text-gray-700 dark:text-white">
				<h2 class="text-5xl text-title font-semibold">Возможности платформы</h2>
				<p class="mt-6">Мы собрали всё, чтобы сделать процесс организации событий простым, удобным и вдохновляющим:</p>
			</div>

			<div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3">
				<div class="relative group overflow-hidden card variant-outlined">
					<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
						<div class="relative">
							<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
								<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">🔍</span>
							</div>
							<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
									<p class="text-gray-700 dark:text-gray-300">Удобный поиск площадок: Легко находите идеальные места для любых мероприятий, фильтруя по типу события, местоположению и вместимости.</p>
							</div>
						</div>
					</div>

					<div class="relative group overflow-hidden card variant-outlined">
						<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
							<div class="relative">
								<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
									<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">🎉</span>
								</div>
								<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
										<p class="text-gray-700 dark:text-gray-300">Аренда оборудования и услуг "под ключ" Оборудование, мебель, декор — всё, что нужно, чтобы ваше событие выглядело безупречно.</p>
								</div>
							</div>
						</div>

						<div class="relative group overflow-hidden card variant-outlined">
						<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
								<div class="relative">
									<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
										<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">🤝</span>
									</div>
									<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Комфортное взаимодействие Общайтесь напрямую с организаторами и профессионалами. Оценки и отзывы пользователей помогут вам выбрать лучших партнёров для вашего мероприятия.</p>
									</div>
								</div>
							</div>

							<div class="relative group overflow-hidden card variant-outlined">
								<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">💬</span>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
												<p class="text-gray-700 dark:text-gray-300">Сообщество для знакомств Ищете новых друзей, партнёров для мероприятий или просто единомышленников? Наша платформа — место, где можно найти людей по интересам и создавать незабываемые моменты вместе.</p>
										</div>
									</div>
								</div>
								
							<div class="relative group overflow-hidden card variant-outlined">
							<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>

									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">💡</span>
										</div>

										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Полезные рекомендации Мы подскажем, как организовать идеальное событие, делимся советами и лучшими практиками для тех, кто только начинает.</p>
										</div>
									</div>
								</div>

							<div class="relative group overflow-hidden card variant-outlined">
							<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
									
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">📣</span>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Для арендодателей:  Простое размещение предложений: добавляйте свои площадки и услуги в несколько кликов. Общение напрямую с клиентами: без посредников и лишних хлопот.</p>
										</div>
									</div>
								</div>

							<div class="relative group overflow-hidden card variant-outlined">
							<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">🌟</span>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Привлечение заказчиков через отзывы и рейтинги: создайте репутацию, которая будет работать на вас!
												Подбор профессионалов Нужны ведущие, фотографы, декораторы или другие специалисты? У нас широкий выбор проверенных профессионалов с простым процессом бронирования.</p>
										</div>
									</div>
								</div>

							<div class="relative group overflow-hidden card variant-outlined">
							<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue-500 to-white opacity-0 group-hover:opacity-25 blur-2xl dark:bg-gradient-to-b dark:from-white dark:to-white dark:opacity-0 dark:group-hover:opacity-5 "></div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<span style="font-size: 24px; line-height: 1; display: inline-block; width: 24px; height: 24px;">🌐</span>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Поддержка пользователей Наша команда всегда на связи и готова помочь в решении любых вопросов!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</section>
        