<section class="mb-36">
	<div class="pt-36">
		<div class="mx-auto px-6 max-w-6xl">

			<div class="text-center text-gray-700 dark:text-white">
				<h2 class="text-5xl text-title font-semibold">Возможности платформы</h2>
				<p class="mt-6">Самое главное собрано для вас, что решает наша платформа.</p>
			</div>

			<div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-3">
				<div class="relative group overflow-hidden card variant-outlined">
					
					<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-warning-500 to-white dark:from-white dark:to-white blur-2xl opacity-25 dark:opacity-0 dark:group-hover:opacity-5"></div>
						<div class="relative">
							<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l-4 4m0-4l4-4m5 5l4 4m-4-4l-4-4" />
								</svg>
							</div>
							<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
									<p class="text-gray-700 dark:text-gray-300">Удобный поиск площадок: Легко находите идеальные места для любых мероприятий, фильтруя по типу события, местоположению и вместимости.</p>
							</div>
						</div>
					</div>

					<div class="relative group overflow-hidden card variant-outlined">
						<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-success-500 to-white dark:from-white dark:to-white blur-2xl opacity-25 dark:opacity-0 dark:group-hover:opacity-5"></div>
							<div class="relative">
								<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v16a1 1 0 01-1 1H4a1 1 0 01-1-1V4zm3 4h4M7 12h6m4-4h2m-6 8h6" />
									</svg>
								</div>
								<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
										<p class="text-gray-700 dark:text-gray-300">Аренда оборудования и услуг под ключ: Возможность аренды оборудования, мебели и декора для полного оснащения вашего события.</p>
								</div>
							</div>
						</div>

						<div class="relative group overflow-hidden card variant-outlined">
							<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-danger-500 to-white dark:from-white dark:to-white blur-2xl opacity-25 dark:opacity-0 dark:group-hover:opacity-5"></div>
								<div class="relative">
									<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m0 0H4m8 0h8m-4-16v16" />
										</svg>
									</div>
									<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Комфортное взаимодействие: Прямое общение с организаторами и специалистами, отзывы пользователей для удобства выбора.</p>
									</div>
								</div>
							</div>

							<div class="relative group overflow-hidden card variant-outlined">

								<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-gray-500 to-white dark:from-white dark:to-white blur-2xl opacity-25 dark:opacity-0 dark:group-hover:opacity-5"></div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
												<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="currentColor" d="m4.5 4.5l.405-.293A.5.5 0 0 0 4 4.5zm3 9.5A6.5 6.5 0 0 1 1 7.5H0A7.5 7.5 0 0 0 7.5 15zM14 7.5A6.5 6.5 0 0 1 7.5 14v1A7.5 7.5 0 0 0 15 7.5zM7.5 1A6.5 6.5 0 0 1 14 7.5h1A7.5 7.5 0 0 0 7.5 0zm0-1A7.5 7.5 0 0 0 0 7.5h1A6.5 6.5 0 0 1 7.5 1zM5 12V4.5H4V12zm-.905-7.207l6.5 9l.81-.586l-6.5-9zM10 4v6h1V4z"/></svg>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
												<p class="text-gray-700 dark:text-gray-300">Сообщество для знакомств: Платформа для общения и знакомств, возможность найти партнеров для совместных мероприятий и отдыха.</p>
										</div>
									</div>
								</div>
								
							<div class="relative group overflow-hidden card variant-outlined">

								<div 
									aria-hidden="true" 
									class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-white dark:bg-gradient-to-b dark:from-white dark:to-white blur-2xl opacity-100 dark:opacity-0 group-hover:opacity-5">
									</div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<svg xmlns="http://www.w3.org/2000/svg" width="0.73em" height="1em" viewBox="0 0 256 351"><defs><filter id="logosFirebase0" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="17.5"/><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0"/></filter><filter id="logosFirebase1" width="200%" height="200%" x="-50%" y="-50%" filterUnits="objectBoundingBox"><feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="3.5"/><feOffset dx="1" dy="-9" in="shadowBlurInner1" result="shadowOffsetInner1"/><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/><feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"/></filter><path id="logosFirebase2" d="m1.253 280.732l1.605-3.131l99.353-188.518l-44.15-83.475C54.392-1.283 45.074.474 43.87 8.188z"/><path id="logosFirebase3" d="m134.417 148.974l32.039-32.812l-32.039-61.007c-3.042-5.791-10.433-6.398-13.443-.59l-17.705 34.109l-.53 1.744z"/></defs><path fill="#ffc24a" d="m0 282.998l2.123-2.972L102.527 89.512l.212-2.017L58.48 4.358C54.77-2.606 44.33-.845 43.114 6.951z"/><use fill="#ffa712" fill-rule="evenodd" href="#logosFirebase2"/><use filter="url(#logosFirebase0)" href="#logosFirebase2"/><path fill="#f4bd62" d="m135.005 150.38l32.955-33.75l-32.965-62.93c-3.129-5.957-11.866-5.975-14.962 0L102.42 87.287v2.86z"/><use fill="#ffa50e" fill-rule="evenodd" href="#logosFirebase3"/><use filter="url(#logosFirebase1)" href="#logosFirebase3"/><path fill="#f6820c" d="m0 282.998l.962-.968l3.496-1.42l128.477-128l1.628-4.431l-32.05-61.074z"/><path fill="#fde068" d="m139.121 347.551l116.275-64.847l-33.204-204.495c-1.039-6.398-8.888-8.927-13.468-4.34L0 282.998l115.608 64.548a24.126 24.126 0 0 0 23.513.005"/><path fill="#fcca3f" d="M254.354 282.16L221.402 79.218c-1.03-6.35-7.558-8.977-12.103-4.424L1.29 282.6l114.339 63.908a23.943 23.943 0 0 0 23.334.006z"/><path fill="#eeab37" d="M139.12 345.64a24.126 24.126 0 0 1-23.512-.005L.931 282.015l-.93.983l115.607 64.548a24.126 24.126 0 0 0 23.513.005l116.275-64.847l-.285-1.752z"/></svg>
										</div>

										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Преимущества для арендодателей: Легкое размещение предложений, прямое общение с клиентами и возможность привлечь больше заказчиков через отзывы и рейтинги.</p>
										</div>
									</div>
								</div>
								
							<div class="relative group overflow-hidden card variant-outlined">
								<div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/2 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-info-500 to-white dark:from-white dark:to-white blur-2xl opacity-25 dark:opacity-0 dark:group-hover:opacity-5"></div>
									<div class="relative">
										<div class="badge variant-outlined flex relative *:relative *:size-6 *:m-auto size-12 ">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 128 128"><path fill="#0080ff" d="M64.142 102.96H39.24V78.522h24.903ZM39.24 122.131H20.373v-19.173H39.24Zm-18.866-19.173H4.53V87.167h15.843Zm43.394 24.814v-24.814c26.41 0 46.784-25.94 36.597-53.388c-3.775-10.15-11.694-18.42-22.26-22.181c-27.167-9.772-53.2 10.527-53.2 36.468H0c0-41.354 40.37-74.064 84.52-60.53c19.242 6.017 34.334 21.055 40.37 40.23c13.581 43.985-19.245 84.214-61.123 84.214Zm0 0"/></svg>
										</div>
										<div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
											<p class="text-gray-700 dark:text-gray-300">Подбор профессионалов: Широкий выбор специалистов для мероприятий — ведущих, фотографов, декораторов и других, с простым процессом бронирования.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</section>
        