<section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Эвент-знакомства — место, где начинаются незабываемые истории</h1>
    <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-46">Добро пожаловать в платформу, где ты найдешь всё: идеальную локацию, услуги и единомышленников для создания незабываемых событий! Время творить крутые истории вместе!🎉</p>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <a href="#buttons" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Войти
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
      <a href="#about" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        Узнать больше
      </a>  
    </div>
  </div>
</section>

<div id="about" class="relative isolate overflow-hidden px-6 py-10 sm:py-32 lg:overflow-visible lg:px-0  dark:text-gray-100">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50 dark:fill-gray-800">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base/7 font-semibold text-blue-500 dark:text-blue-300">Вместе веселей</p>
          <h1 class="mt-2 text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">Создайте идеальное событие с нами!</h1>
          <p class="mt-6 text-xl/8 text-gray-700 dark:text-gray-300">Планируете мероприятие? Мы поможем вам найти всё: от крутых площадок и современного оборудования до услуг, которые превратят вашу идею в реальность. А ещё — вы встретите людей, которые поддержат вас на каждом шагу.Создавай свои события, присоединяйся к уже существующим, делись опытом и вдохновляйся новыми возможностями!</p>
        </div>
      </div>
    </div>
    <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <%= image_tag "party2.png", class: "w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]", alt: "Люди на мероприятии" %>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base/7 text-gray-700 dark:text-gray-300 lg:max-w-lg">
          <p>В этом разделе вы можете найти подходящие площадки и оборудование для мероприятий, а также организаторов и подрядчиков, готовых взять на себя все заботы.</p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600 dark:text-gray-400">
            <li class="flex gap-x-3">
             🎯
            <span><strong class="font-semibold text-gray-900 dark:text-gray-100">Удобный поиск</strong> Легко найди то, что нужно, с помощью фильтров и простой навигации.</span>
            </li>
            <li class="flex gap-x-3">
              🤝
              <span><strong class="font-semibold text-gray-900 dark:text-gray-100">Только надёжные подрядчики</strong>  Работаем только с проверенными специалистами, чтобы твоё мероприятие прошло без забот.</span>
            </li>
            
          </ul>
          <p class="mt-8">✨С нами организация вашего события становится доступной и приятной. Всё, что вам нужно, чтобы сделать мероприятие незабываемым, уже здесь. </p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">Афиша отдыха. Не знаешь, как провести выходные? </h2>
          <p class="mt-6">Этот раздел создан, чтобы вдохновлять тебя на крутые планы! Здесь собраны актуальные мероприятия, события и активности, которые сделают твой досуг незабываемым.
            Ты можешь: 
          </p>
          <p class="mt-6">🎉 Создавать собственные события и приглашать друзей. </p>
          <p class="mt-6">🤝 Присоединяться к уже запланированным мероприятиям. </p>
          <p class="mt-6">⭐️ Делиться впечатлениями и оставлять отзывы. Мы добавили удобную систему рейтингов и отзывов, чтобы ты мог легко выбирать самые интересные события и лучших организаторов. Время начинать незабываемые выходные прямо сейчас! 🚀</p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 size-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:mx-0">
      <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-6xl">Создавайте вместе — знакомьтесь ближе</h2>
      <p class="mt-8 text-pretty text-lg font-medium text-gray-300 sm:text-xl/8">Наша платформа — место, где люди разных интересов и профессий собираются для создания ярких мероприятий и незабываемых знакомств. Здесь рождаются идеи и начинается дружба!</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
     
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Лучших площадок</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">12</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Проведено мероприятий</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">300+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Самое массовое мероприятие</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">40 человек</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Столько счатья</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">Безлимитно</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<%= render "home/buttons" %>

<%= render "home/possibilities" %>

<%= render "home/FAQ" %>
