<div class="flex items-center">
  <%= form.check_box field_name, 
       { class: "h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 #{@input_class}" }, 
       true, false %>
  <%= form.label field_name, label, class: "pl-3 text-sm font-medium text-gray-900 dark:text-white" %>
</div>
